<div class="container-fluid">
    <div class="row">

      <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1> <%= @user.email %>'s Dashboard</h1>

        <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 my-auto placeholder">
                <h4>Current Balance: 857,625 $</h4>
              </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Maintence</h4>
            <div class="text-muted">Monthly Maintence Needs</div>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Operating Expenses</h4>
            <span class="text-muted">Monthly Admin, Maintence, and other Needs</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Projected Revenue</h4>
            <span class="text-muted">Projected Revenue for current contract.</span>
          </div>
        
        </section>

        <h2>Units</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Unit Name </th>
                <th>Type</th>
                <th>Balance</th>
                <th>Operating Cost</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @units.each do |unit| %>
                <tr>
                  <td> <%= unit.id %> </td>
                  <td> <%= unit.unit_name %> </td>
                  <td> <%= unit.unit_type %> </td>
                  <td> <%= unit.balance %> </td>
                  <td> <%= unit.ocost %> </td>
                  <td> <form action="/dashboard/edit"> <input type="hidden" name="unit_id" value=<%=unit.id %>> <input type="submit" class="btn btn-warning" value="Edit"> </form></td>
                  <td> <form action="/dashboard/delete"> <input type="hidden" name="unit_id" value=<%=unit.id %>> <input type="submit" class="btn btn-danger" value="Delete"> </form></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div>
            <a class="btn btn-primary" href="/dashboard/create">Add New Unit</a>
            No Wizard
          </div>
        </div>
      </main>
    </div>