<div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="">Mercenary Units <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contracts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Analytics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Export</a>
          </li>
        </ul>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link " href="">Create New Unit <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        </nav>

      <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1> <%= @user.email %>'s Dashboard</h1>

        <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 my-auto placeholder">
                <h4>Current Balance: 857,625 $</h4>
              </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Maintence</h4>
            <div class="text-muted">Monthly Maintence Needs</div>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Operating Expenses</h4>
            <span class="text-muted">Monthly Admin, Maintence, and other Needs</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Projected Revenue</h4>
            <span class="text-muted">Projected Revenue for current contract.</span>
          </div>
        
        </section>

        <h2>Units</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Unit Name </th>
                <th>Type</th>
                <th>Balance</th>
                <th>Operating Cost</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @units.each do |unit| %>
                <tr>
                  <td> <%= unit.id %> </td>
                  <td> <%= unit.unit_name %> </td>
                  <td> <%= unit.unit_type %> </td>
                  <td> <%= unit.balance %> </td>
                  <td> <%= unit.ocost %> </td>
                  <td> <a class="btn btn-warning">Edit</a></td>
                  <td> <a class="btn btn-danger">Delete</a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div>
            <a class="btn btn-primary">Add New Unit</a>
            No Wizard
          </div>
        </div>
      </main>
    </div>